/*css styles for the Mock me up restaraunt*/

body{
    background-image:url("http://www.broccolipizzaandpasta.com/wp-content/uploads/2015/11/website-background.jpg");
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: cover;
    align-items: center;
    margin: 0;
}

/* universal * selector*/
*{
    border:border-box;
}

/* styles for the name of the restaurant */
#name {
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    color: #00f000;
}

/* styles for the tag line */
#marquee{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    color: #ffffff;
}

/* styles for the heading menu */
#head {
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    color: #ff000f;
}

/* styles for each div box in html (the items in the menu along with their desc/content)*/
#box1 {
    border: 1px solid white;
    overflow: auto;
    position: relative;
    float:left;
    align-items: center;
    margin: 10px;
}
#box2 {
    border: 1px solid white;
    overflow: auto;
    position: relative;
    float:left;
    align-items: center;
    margin: 10px;
}
#box3 {
    border: 1px solid white;
    overflow: auto;
    position: relative;
    float:left;
    align-items: center;
    margin: 10px;
}

/* styles for each item name */
#item1 {
    float: right;
    color: #c3ce8c;
    width: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #90450f;
    border: black 1px solid ;
    margin: 0;
}
#item2 {
    float: right;
    color: #d88ec6;
    width: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #150590;
    border: black 1px solid ;
    margin: 0;
}
#item3 {
    float: right;
    color: #2b2123;
    width: 100px;
    font-weight: bold;
    text-align: center;
    background-color: #900890;
    border: black 1px solid ;
    margin: 0;
}
/* styles for each item desc/content */
#content1 {
    clear: both;
    color: #dbc3e4;
    font-weight: bold;
    height: 100px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
#content2 {
    clear: both;
    color: #e3e3f3;
    font-weight: bold;
    height: 100px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
#content3 {
    clear: both;
    color: #72bbce;
    font-weight: bold;
    height: 100px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
